{% extends "model-page.html" %}

{% block content %}
    <h2>Clientes</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cidade</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customer_list %}
            <tr>
                <th>{{customer.first_name}}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}